<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=UTF-8" http-equiv="content-type"/>
    <!--%= javascript_include_tag 'application.js' %-->
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700|Droid+Sans:700' %>
    <%= stylesheet_link_tag 'application' %>
    <title>Home</title>
</head>
</html>
<body>
<header>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <h1>
                <%= image_tag 'vf_logo_notes_lighter.png', :alt => "Zahnrad-Logo",  :class => "cog-logo" %>
                <span class="vokal">Vokal</span><span class="fabrik" style="">Fabrik</span>
                <%= image_tag 'vf_logo_people.png', :alt => "Gruppen-Logo", :class => "group-logo" %>
            </h1>
        </div>
    </div>
</header>
<nav id="nav">
    <div class="ym-wrapper">
        <div class="ym-hlist">
            <ul>
                <% menu_data = page_menu_data %>
                <%= render :partial => 'page_button', :collection => menu_data[:pages], :locals => menu_data %>
            </ul>
        </div>
    </div>
</nav>
<main>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <div class="ym-grid linerarize-level-1">
                <%= yield :layout %>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="ym-wrapper">
        <div class="ym-wbow">
            <p>Vokalfabrik 2014 &ndash; CSS-Layout basiert auf <a href="http://www.yaml.de">YAML</a></p>
        </div>
    </div>
</footer>
</body>
